{{#partial "title"}}
    View Technology Division Staff
{{/partial}}
{{#partial "content"}}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h4> Technology Division Staff</h4>
            <hr/>
            <div class="container">
                {{#if members}}
                    <div class="row">
                        {{#each members }}
                            <div class="col-md-3 col-lg-3 col-sm-12 card">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <p class="text-center department-name">{{firstName}} {{lastName}}</p>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <hr>
                                        <h3 class="text-center">{{roleName}}</h3>
                                        <h4 class="text-center dept-desc">{{departmentName}}</h4>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-md-12 col-md-12 col-sm-12 card">
                            <p class="no-department">No staff members available!</p>
                            <p>Staff details will be populated once members have been added.</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}