{{#partial "title"}}
    View Department Staff Members
{{/partial}}
{{#partial "content"}}
    {{#if createdStaff}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{createdStaff}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 department-form">
            <h4>New Staff Member</h4>
            <hr>
            <form method="post" action="/departments/{{department.id}}/members">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="First Name"
                                   name="firstName" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Last Name"
                                   name="lastName" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            {{#if roles}}
                                <label>Select Role</label>
                                <select id="roleId" name="roleId" class="form-control">
                                    {{#each roles}}
                                        <option value="{{id}}" class="dept-select">{{name}}</option>
                                    {{/each}}
                                </select>
                            {{else}}
                                <a href="/roles">Add Role</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Add Staff">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <h4 class="text-center"> {{department.name}} Department Staff Members</h4>
            <hr/>
            <div class="container department-container">
                {{#if members}}
                    <div class="row">
                        {{#each members }}
                            <div class="col-md-5 col-lg-5 col-sm-12 card">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <p class="text-center department-name">{{firstName}} {{lastName}}</p>
                                        <h3 class="text-center">{{roleName}}</h3>
                                        <h4 class="text-center dept-desc">{{departmentName}}</h4>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <hr>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <a href="/staff/{{memberId}}" class="btn btn-warning btn-sm">Update</a>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <a href="/staff/{{memberId}}/delete" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-md-10 col-md-10 col-sm-12 card">
                            <p class="no-department">No staff members available!</p>
                            <p>Please fill in the form on the left to add a member to <strong>{{department.name}}</strong> department</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}