{{#partial "title"}}
    Create Role and View Available Roles
{{/partial}}
{{#partial "content"}}
    {{#if createdRole}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{createdRole}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}

    {{#if updatedRole}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{updatedRole}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}

    {{#if deletedRole}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{deletedRole}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}

    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 department-form">
            <h4>New Role</h4>
            <hr>
            <form method="post" action="/roles">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Role Name</label>
                            <input class="form-control" type="text" placeholder="Role Name"
                                   name="name" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Add Role">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <h4 class="text-center"> Available Roles</h4>
            <hr/>
            <div class="container department-container">
                {{#if roles}}
                    <div class="row">
                        {{#each roles }}
                            <div class="col-md-5 col-lg-5 col-sm-12 card">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <p class="text-center department-name">{{name}}</p>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <hr>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                        <a href="/roles/{{id}}/members" class="btn btn-primary btn-sm">View</a>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                        <a href="/roles/{{id}}" class="btn btn-warning btn-sm">Update</a>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                        <a href="/roles/{{id}}/delete" class="btn btn-danger btn-sm link-right">Delete</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-md-10 col-md-10 col-sm-12 card">
                            <p class="no-department">No roles available!</p>
                            <p>Please fill in the form on the left to create a new role</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}